.bodyHome{
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.textContainer{
    display: flex;
    align-items: center;
}
.textHome{
    font-size: 2.5rem;
}



